#producto {color: orange; 
  background-color: yellow;}
#producto2 {color: yellow; 
  background-color: green;}
#producto3 {color: green; 
  background-color: blue;}
#producto4 {color: blue; 
  background-color: purple;}
#producto5 {color: purple; 
  background-color: pink;}
#producto6 {color: pink; 
  background-color: red;}
#producto7 {color: red; 
  background-color: orange;}
#producto8 {color: orange; 
  background-color: yellow;}
#producto9 {color: yellow; 
  background-color: green;}
#producto10 {color: green; 
  background-color: blue;}
#producto11 {color: blue; 
  background-color: purple;}
#producto12 {color: purple; 
  background-color: pink;}



